::-webkit-scrollbar{ width: 12px; height: 12px; }
::-webkit-scrollbar-track{ background: #171719; }
::-webkit-scrollbar-thumb{ background: #000000; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

html{
    background-color: #131315;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #F7F7F7;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    display: flex;
}

body > header{
    position: fixed;
    inset: 0;
    padding: 25px 50px;
    width: 100%;
    height: 100px;
    background-color: #101012;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    display: flex;
    user-select: none;
    z-index: 1;
}

body > main{
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 25px;
    padding-top: 125px;
    z-index: 0;
}

body > footer{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    display: flex;
    user-select: none;
    z-index: 0;
}

body > header > div > h1{
    margin-bottom: 5px;
    font-size: 1.35rem;
    font-weight: 600;
}

body > header > div > p{
    font-size: 0.75rem;
    font-weight: 300;
}

body > header > div > #input-search{
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px;
    width: 250px;
    height: 45px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: #F7F7F7;
    background-color: #151517;
}

.list{
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 25px;
    display: flex;
}

.list > .list-item{
    border-radius: 10px;
    padding: 25px;
    width: 1280px;
    background-color: #101012;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    display: flex;
}

.list > .list-item.hide, .hide{
    display: none;
}

.list > .list-item > h2{
    margin-bottom: 5px;
    font-size: 1.35rem;
    font-weight: 600;
    user-select: none;
}

.list > .list-item > h2 > span{
    font-size: 0.75rem;
    font-weight: 200;
}

.list > .list-item > p{
    font-size: 0.85rem;
    font-weight: 300;
    user-select: none;
}

.list > .list-item > pre{
    margin: 15px 0;
}

.list > .list-item > pre:last-child{
    margin-bottom: 0;
}

.list > .list-item > pre > code{
    border-radius: 5px;
}